---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/sections/Hero.astro';
import About from '../components/sections/About.astro';
import Testimonials from '../components/sections/Testimonials.astro';
import CTA from '../components/sections/CTA.astro';
---

<Layout>
  <main>
    <Hero />
    <About />
    <Testimonials />
    <CTA />
  </main>
</Layout>
